@page
@using Object_management.Entity
@model Object_management.Pages.Reservations.Index

@{
    Layout = null;
    ViewBag.Title = "Reserveringen";
}

<!DOCTYPE html>
<html lang="nl">
<partial name="_HeadPartial"/>
<link rel="stylesheet" href="/css/reservations.css">
<body>
<partial name="_MenuPartial"/>
<div class="content">
    <h1 class="content__title">Uitgegeven reserveringen</h1>
    <a class="sort-button button" href="/reservations">Filter leegmaken</a>
    @if (Model.GivenOutReservations.Count != 0 ) {
        <table class="content__table">
            <thead class="content__table__head">
            <tr class="content__table__head__row">
                <th class="content__table__head__row__element content__table__head__row__element--toggle"></th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "reservationNumber" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=reservationNumber&desc=true">Reserveringsnummer <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=reservationNumber">Reserveringsnummer <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "reservationNumber" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "customer" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=customer&desc=true">Klantnaam <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=customer">Klantnaam <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "customer" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "paymentMethod" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=paymentMethod&desc=true">Betaalmethode <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=paymentMethod">Betaalmethode <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "paymentMethod" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "startDate" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=startDate&desc=true">Verhuurd vanaf <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=startDate">Verhuurd vanaf <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "startDate" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "endDate" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=endDate&desc=true">Verhuurd tot <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=endDate">Verhuurd tot <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "endDate" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "price" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=price&desc=true">Totaalprijs <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=price">Totaalprijs <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "price" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "givenOut" && Model.Sort == "paid" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=givenOut&sort=paid&desc=true">Betaald <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=givenOut&sort=paid">Betaald <i class="fa-solid @(Model.SortTable == "givenOut" && Model.Sort == "paid" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
            </tr>
            </thead>
            <tbody class="content__table__body">
            <input type="hidden" name="type" value="Object">
            @foreach (Reservation reservation in Model.GivenOutReservations) {
                <form method="post" id="@reservation.reservation_number"></form>
                <p class="indicator"></p>
                <tr class="content__table__body__row @(reservation.return_date < DateTime.Today ? "warning warning--tr" : "")">
                    <td class="content__table__body__row__element content__table__body__row__element--toggle">
                        <label for="toggle-@reservation.reservation_number"><i class="fa-solid fa-plus pointer"></i></label>
                        <input onclick="toggleHidden(this)" type="checkbox" name="toggle" id="toggle-@reservation.reservation_number" data-toggle="toggle">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="reservation_number" form="@reservation.reservation_number" value="@reservation.reservation_number">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="customername" form="" value="@reservation.CustomerData.name">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="paymend_method" form="@reservation.reservation_number" value="@reservation.payment_method">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="start_date" form="@reservation.reservation_number" value="@reservation.start_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="return_date" form="@reservation.reservation_number" value="@reservation.return_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="total" form="@reservation.reservation_number" value="&euro;@($"{reservation.Objects.Select(x => x.CalculatePrice(reservation.start_date, reservation.return_date)).Sum():0.00}")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input type="checkbox" name="paid" form="@reservation.reservation_number" checked="@reservation.paid">
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="returnReservation(@reservation.reservation_number)" class="content__table__body__row__element button"><i class="fa-solid fa-arrow-left"></i></button>
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="deleteReservation(@reservation.reservation_number)" class="content__table__body__row__element button button--delete"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr class="content__table__body__row content__table__body__row--hidden hide" id="reservation-body-@reservation.reservation_number">
                    <td colspan="5">
                        <table class="content__table__body__row--hidden__customer-table">
                            <thead>
                            <tr>
                                <th>Klantnaam</th>
                                <th>Verblijf</th>
                                <th>Email</th>
                                <th>Telefoonnummer</th>
                                <th>Adres</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>@reservation.CustomerData.name</td>
                                <td>@reservation.residence</td>
                                <td>@reservation.CustomerData.email</td>
                                <td>@reservation.CustomerData.telephone</td>
                                <td>@reservation.CustomerData.adres</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="4">
                        <table class="content__table__body__row--content__objects-table">
                        <thead>
                        <tr>
                            <th>Fietsnummer</th>
                            <th>Fietssoort</th>
                            <th>Prijs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (ObjectData objectData in reservation.Objects.OrderBy(x => x.Type.description)) {
                            <tr>
                                <td>@objectData.object_number</td>
                                <td>@objectData.Type.description</td>
                                <td>&euro;@($"{objectData.CalculatePrice(reservation.start_date, reservation.return_date):0.00}")</td>
                                <td><button onclick="unReserveObject(@objectData.Type.id, @reservation.reservation_number, '@objectData.Type.description')" class="button button--delete"><i class="fa-solid fa-trash-can"></i></button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    } else {   
        <h1 class="float">Er zijn geen reserveringen uitgegeven op dit moment.</h1>
    }
    <h1 class="content__title">Reserveringen</h1>
    @if (Model.ReservedReservations.Count != 0 ) {
        <table class="content__table">
            <thead class="content__table__head">
            <tr class="content__table__head__row">
                <th class="content__table__head__row__element content__table__head__row__element--toggle"></th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "reservationNumber" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=reservationNumber&desc=true">Reserveringsnummer <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=reservationNumber">Reserveringsnummer <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "reservationNumber" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "customer" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=customer&desc=true">Klantnaam <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=customer">Klantnaam <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "customer" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "paymentMethod" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=paymentMethod&desc=true">Betaalmethode <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=paymentMethod">Betaalmethode <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "paymentMethod" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "startDate" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=startDate&desc=true">Verhuurd vanaf <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=startDate">Verhuurd vanaf <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "startDate" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "endDate" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=endDate&desc=true">Verhuurd tot <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=endDate">Verhuurd tot <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "endDate" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "price" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=price&desc=true">Totaalprijs <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=price">Totaalprijs <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "price" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element">
                    @if (Model.SortTable == "reservations" && Model.Sort == "paid" && !Model.SortDesc) {
                        <a class="sort-button" href="?table=reservations&sort=paid&desc=true">Betaald <i class="fa-solid fa-sort-down"></i></a>
                    } else {
                        <a class="sort-button" href="?table=reservations&sort=paid">Betaald <i class="fa-solid @(Model.SortTable == "reservations" && Model.Sort == "paid" && Model.SortDesc ? "fa-sort-up" : "fa-sort")"></i></a>
                    }
                </th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>

            </tr>
            </thead>
            <tbody class="content__table__body">
            <input type="hidden" name="type" value="Object">
            @foreach (Reservation reservation in Model.ReservedReservations) {
                <form method="post" id="@reservation.reservation_number"></form>
                <p class="indicator"></p>
                <tr class="content__table__body__row">
                    <td class="content__table__body__row__element content__table__body__row__element--toggle">
                        <label for="toggle-@reservation.reservation_number"><i class="fa-solid fa-plus pointer"></i></label>
                        <input onclick="toggleHidden(this)" type="checkbox" name="toggle" id="toggle-@reservation.reservation_number" data-toggle="toggle">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="reservation_number" form="@reservation.reservation_number" value="@reservation.reservation_number">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="customername" form="" value="@reservation.CustomerData.name">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="paymend_method" form="@reservation.reservation_number" value="@reservation.payment_method">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="start_date" form="@reservation.reservation_number" value="@reservation.start_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="return_date" form="@reservation.reservation_number" value="@reservation.return_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="total" form="@reservation.reservation_number" value="&euro;@($"{reservation.Objects.Select(x => x.CalculatePrice(reservation.start_date, reservation.return_date)).Sum():0.00}")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input type="checkbox" name="paid" form="@reservation.reservation_number" checked="@reservation.paid">
                    </td>
                    <td class="content__table__body__row__element">
                        <a href="/reservations/giveout?resId=@(reservation.reservation_number)" class="content__table__body__row__element button"><i class="fa-solid fa-person-biking"></i></a>
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="deleteReservation(@reservation.reservation_number)" class="content__table__body__row__element button button--delete"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr class="content__table__body__row content__table__body__row--hidden hide" id="reservation-body-@reservation.reservation_number">
                    <td colspan="5">
                        <table class="content__table__body__row--hidden__customer-table">
                            <thead>
                            <tr>
                                <th>Klantnaam</th>
                                <th>Verblijf</th>
                                <th>Email</th>
                                <th>Telefoonnummer</th>
                                <th>Adres</th>
                                <th>Opmerking</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>@reservation.CustomerData.name</td>
                                <td>@reservation.residence</td>
                                <td>@reservation.CustomerData.email</td>
                                <td>@reservation.CustomerData.telephone</td>
                                <td>@reservation.CustomerData.adres</td>
                                <td>@reservation.comment</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="4">
                        <table class="content__table__body__row--content__objects-table">
                        <thead>
                        <tr>
                            <th>Fietssoort</th>
                            <th>Aantal</th>
                            <th>Prijs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (ObjectData objectData in reservation.Objects.OrderBy(x => x.Type.description)) {
                            <tr>
                                <td>@objectData.Type.description</td>
                                <td>@reservation.ObjectAmounts.First(x => x.object_type_id == objectData.Type.id).amount</td>
                                <td>&euro;@($"{objectData.CalculatePrice(reservation.start_date, reservation.return_date):0.00}")</td>
                                @if (reservation.Objects.Count > 1) {
                                    <td><button onclick="unReserveObject(@objectData.Type.id, @reservation.reservation_number, '@objectData.Type.description')" class="button button--delete"><i class="fa-solid fa-trash-can"></i></button></td>
                                } else {
                                    <td><button onclick="deleteReservation(@reservation.reservation_number)" class="button button--delete"><i class="fa-solid fa-trash-can"></i></button></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    } else {
        <h1 class="float">Geen reserveringen gevonden.</h1>
    }
    <button onclick="onClickUpdate('edit', 'Reservation', false);" name="updateObjects" class="content__update-button button">Gegevens aanpassen</button>   
    <a href="/reservations/add" class="content__add-obj-button button"><i class="fa-solid fa-plus"></i> Reservering maken</a>
</div>
</body>
</html>