@page
@using Object_management.Entity
@using Object_management.Models
@model Object_management.Pages.Reservations.Index

@{
    Layout = null;
    ViewBag.Title = "Reserveringen";
}

<!DOCTYPE html>
<html lang="nl">
<partial name="_HeadPartial"/>
<link rel="stylesheet" href="/css/reservations.css">
<body>
<partial name="_MenuPartial"/>
<div class="content">
    <h1 class="content__title">Uitgegeven reserveringen</h1>
    <a class="sort-button button" href="/reservations">Filter leegmaken</a>
    @if (Model.GivenOutReservations.Count != 0 ) {
        <table id="table-upper" class="content__table">
            <thead class="content__table__head">
            <tr class="content__table__head__row">
                <th class="content__table__head__row__element content__table__head__row__element--toggle"></th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'reservation_number', false, null, true)">Reserveringsnummer <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'CustomerData', false, 'id', true)">Klantnaam <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'payment_method', false, null, true)">Betaalmethode <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'start_date', false, null, true)">Verhuurd vanaf <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'end_date', false, null, true)">Verhuurd tot <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'price', false, null, true)">Totaalprijs <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'paid', false, null, true)">Betaald <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
            </tr>
            </thead>
            <tbody class="content__table__body">
            <input type="hidden" name="type" value="Object">
            @foreach (Reservation reservation in Model.GivenOutReservations) {
                <form method="post" id="@reservation.reservation_number"></form>
                <p class="indicator"></p>
                <tr class="content__table__body__row @(reservation.return_date < DateTime.Today ? "warning warning--tr" : "")">
                    <td class="content__table__body__row__element content__table__body__row__element--toggle">
                        <label for="toggle-@reservation.reservation_number"><i class="fa-solid fa-plus pointer"></i></label>
                        <input onclick="toggleHidden(this)" type="checkbox" name="toggle" id="toggle-@reservation.reservation_number" data-toggle="toggle">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="reservation_number" form="@reservation.reservation_number" value="@reservation.reservation_number">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="customerName" form="@reservation.reservation_number" value="@reservation.CustomerData.name">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="payment_method" form="@reservation.reservation_number" value="@reservation.payment_method">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="start_date" form="@reservation.reservation_number" value="@reservation.start_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="return_date" form="@reservation.reservation_number" value="@reservation.return_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        &euro;<input disabled="disabled" type="text" name="total" form="@reservation.reservation_number" value="@($"{reservation.Objects.Select(x => x.CalculatePrice(reservation.start_date, reservation.return_date)).Sum():0.00}")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input type="checkbox" name="paid" form="@reservation.reservation_number" checked="@reservation.paid">
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="returnReservation(@reservation.reservation_number)" class="content__table__body__row__element button"><i class="fa-solid fa-arrow-left"></i></button>
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="deleteReservation(@reservation.reservation_number)" class="content__table__body__row__element button button--delete"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr class="content__table__body__row content__table__body__row--hidden hide @(reservation.return_date < DateTime.Today ? "warning warning--tr" : "")" id="reservation-body-@reservation.reservation_number">
                    <td colspan="3">
                        <table class="content__table__body__row--hidden__customer-table">
                            <tr>
                                <th>Klantnaam</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerName" form="@reservation.reservation_number" value="@reservation.CustomerData.name">
                                </td>
                            </tr>
                            <tr>
                                <th>Verblijf</th>
                                <td>
                                    <input type="text" disabled="disabled" name="residence" form="@reservation.reservation_number" value="@reservation.residence">
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerEmail" form="@reservation.reservation_number" value="@reservation.CustomerData.email">
                                </td>
                            </tr>
                            <tr>
                                <th>Telefoonnummer</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerTelephone" form="@reservation.reservation_number" value="@reservation.CustomerData.telephone">
                                </td>
                            </tr>
                            <tr>
                                <th>Adres</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerAdres" form="@reservation.reservation_number" value="@reservation.CustomerData.adres">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="10">
                        <table class="content__table__body__row--content__objects-table">
                        <thead>
                        <tr>
                            <th>Fietsnummer</th>
                            <th>Fietssoort</th>
                            <th>Prijs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (ObjectData objectData in reservation.Objects.OrderBy(x => x.Type.description)) {
                            <tr>
                                <td>
                                    <input type="text" id="ObjectNumber@(objectData.object_number)" disabled="disabled" name="objectObjectNumber" form="@reservation.reservation_number" value="@objectData.object_number">
                                </td>
                                <td>
                                    <input type="text" id="TypeDescription@(objectData.object_number)" disabled="disabled" name="objectTypeDescription" form="@reservation.reservation_number" value="@objectData.Type.description">
                                </td>
                                <td class="currency">
                                    &euro;<input type="text" id="PriceSingle@(objectData.object_number)" disabled="disabled" name="objectPriceSingle" form="@reservation.reservation_number" value="@($"{objectData.CalculatePrice(reservation.start_date, reservation.return_date):0.00}")">
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    } else {   
        <h1 class="float">Er zijn geen reserveringen uitgegeven op dit moment.</h1>
    }
    <h1 class="content__title">Reserveringen</h1>
    @if (Model.ReservedReservations.Count != 0 ) {
        <table id="table-lower" class="content__table">
            <thead class="content__table__head">
            <tr class="content__table__head__row">
                <th class="content__table__head__row__element content__table__head__row__element--toggle"></th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'reservation_number', false)">Reserveringsnummer <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'reservation_number', false)">Reserveringsnummer <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'CustomerData', false, 'id')">Klantnaam <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'payment_method', false)">Betaalmethode <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'start_date', false)">Verhuurd vanaf <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'end_date', false)">Verhuurd tot <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'price', false)">Totaalprijs <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element">
                    <a class="sort-button" href="#" onclick="sortBy(this, 'reservation', 'paid', false)">Betaald <i class="fa-solid fa-sort"></i></a>
                </th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>
                <th class="content__table__head__row__element content__table__head__row__element--button"></th>

            </tr>
            </thead>
            <tbody class="content__table__body">
            <input type="hidden" name="type" value="Object">
            @foreach (Reservation reservation in Model.ReservedReservations) {
                <form method="post" id="@reservation.reservation_number"></form>
                <p class="indicator"></p>
                <tr class="content__table__body__row">
                    <td class="content__table__body__row__element content__table__body__row__element--toggle">
                        <label for="toggle-@reservation.reservation_number"><i class="fa-solid fa-plus pointer"></i></label>
                        <input onclick="toggleHidden(this)" type="checkbox" name="toggle" id="toggle-@reservation.reservation_number" data-toggle="toggle">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="reservation_number" form="@reservation.reservation_number" value="@reservation.reservation_number">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="customername" form="" value="@reservation.CustomerData.name">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="payment_method" form="@reservation.reservation_number" value="@reservation.payment_method">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="start_date" form="@reservation.reservation_number" value="@reservation.start_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input disabled="disabled" type="text" name="return_date" form="@reservation.reservation_number" value="@reservation.return_date.Date.ToString("dd MMMM yyyy")">
                    </td>
                    <td class="content__table__body__row__element">
                        &euro;<input disabled="disabled" type="text" name="total" form="@reservation.reservation_number" value="@($"{reservation.Objects.Select(x => x.CalculatePrice(reservation.start_date, reservation.return_date)).Sum():0.00}")">
                    </td>
                    <td class="content__table__body__row__element">
                        <input type="checkbox" name="paid" form="@reservation.reservation_number" checked="@reservation.paid">
                    </td>
                    <td class="content__table__body__row__element">
                        <a href="/reservations/giveout?resId=@(reservation.reservation_number)" class="content__table__body__row__element button"><i class="fa-solid fa-person-biking"></i></a>
                    </td>
                    <td class="content__table__body__row__element">
                        <button onclick="deleteReservation(@reservation.reservation_number)" class="content__table__body__row__element button button--delete"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr class="content__table__body__row content__table__body__row--hidden hide" id="reservation-body-@reservation.reservation_number">
                    <td colspan="3">
                        <table class="content__table__body__row--hidden__customer-table">
                            <tr>
                                <th>Klantnaam</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerName" form="@reservation.reservation_number" value="@reservation.CustomerData.name">
                                </td>
                            </tr>
                            <tr>
                                <th>Verblijf</th>
                                <td>
                                    <input type="text" disabled="disabled" name="residence" form="@reservation.reservation_number" value="@reservation.residence">
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerEmail" form="@reservation.reservation_number" value="@reservation.CustomerData.email">
                                </td>
                            </tr>
                            <tr>
                                <th>Telefoonnummer</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerTelephone" form="@reservation.reservation_number" value="@reservation.CustomerData.telephone">
                                </td>
                            </tr>
                            <tr>
                                <th>Adres</th>
                                <td>
                                    <input type="text" disabled="disabled" name="customerAdres" form="@reservation.reservation_number" value="@reservation.CustomerData.adres">
                                </td>
                            </tr>
                            <tr>
                                <th>Opmerking</th>
                                <td>
                                    <input type="text" disabled="disabled" name="comment" form="@reservation.reservation_number" value="@reservation.comment">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="10">
                        <table class="content__table__body__row--content__objects-table">
                        <thead>
                        <tr>
                            <th>Fietssoort</th>
                            <th>Aantal</th>
                            <th>Prijs</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach ((ObjectData objectData, int i) in reservation.Objects.OrderBy(x => x.Type.description).WithIndex()) {
                            <tr>
                                <td>
                                    <input type="text" id="TypeDescription@(i+1)" disabled="disabled" name="objectTypeDescription" form="@reservation.reservation_number" value="@objectData.Type.description">
                                </td>
                                <td>
                                    <input type="text" id="Amount@(i+1)" disabled="disabled" name="objectAmount" form="@reservation.reservation_number" value="@reservation.ObjectAmounts.First(x => x.object_type_id == objectData.Type.id).amount">
                                </td>
                                <td class="currency">
                                    &euro;<input type="text" id="PriceSingle@(i+1)" disabled="disabled" name="objectPriceSingle" form="@reservation.reservation_number" value="@($"{objectData.CalculatePrice(reservation.start_date, reservation.return_date):0.00}")">
                                </td>
                                @if (reservation.Objects.Count > 1) {
                                    <td><button onclick="unReserveObject(@objectData.Type.id, @reservation.reservation_number, '@objectData.Type.description')" class="button button--delete"><i class="fa-solid fa-trash-can"></i></button></td>
                                } else {
                                    <td><button onclick="deleteReservation(@reservation.reservation_number)" class="button button--delete"><i class="fa-solid fa-trash-can"></i></button></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    } else {
        <h1 class="float">Geen reserveringen gevonden.</h1>
    }
    <button onclick="onClickUpdate('edit', 'Reservation', false);" name="updateObjects" class="content__update-button button">Gegevens aanpassen</button>   
    <a href="/reservations/add" class="content__add-obj-button button"><i class="fa-solid fa-plus"></i> Reservering maken</a>
</div>
</body>
</html>